@page "/cursosReporte"
@rendermode InteractiveServer
@inject CursosAppContext context

<h3>Reporte de Cursos</h3>

Nombre profesor
<input type="text" @bind-value="filtroNombreProfesor" />
<button @onclick="BuscarCursos">Buscar</button>

@if (cursos == null)
{
    <h4>Presione Buscar para mostrar el reporte</h4>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Cantidad Máxima de Alumnos
                </th>
                <th>
                    Profesor
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in cursos)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.CantidadMaximaAlumnos</td>
                    <td>@item.NombreProfesor</td>
                </tr>
                @if (item.Alumnos != null && item.Alumnos.Count > 0)
                {
                    <tr>
                        <td colspan="3">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Nombre
                                        </th>
                                        <th>
                                            Apellido
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var itemAlumno in item.Alumnos)
                                    {
                                        <tr>
                                            <td>@itemAlumno.Nombre</td>
                                            <td>@itemAlumno.Apellido</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}


@code {
    List<CursoReporteModel>? cursos;
    string filtroNombreProfesor = "";

    private void BuscarCursos()
    {
        if (filtroNombreProfesor != "")
        {
            cursos = context.Cursos.Include("ProfesorPrincipal").Include("AlumnosList")
            .Where(c => c.ProfesorPrincipal.Nombre.Contains(filtroNombreProfesor) || c.ProfesorPrincipal.Apellido.Contains(filtroNombreProfesor))
            .Select(c => new CursoReporteModel()
                {
                    Nombre = c.Nombre,
                    CantidadMaximaAlumnos = c.CantidadMaximaAlumnos,
                    NombreProfesor = $"{c.ProfesorPrincipal.Nombre} {c.ProfesorPrincipal.Apellido}",
                    Alumnos = c.AlumnosList
                }).ToList();
        }
        else
        {
            cursos = context.Cursos.Include("ProfesorPrincipal").Include("AlumnosList")
            .Select(c => new CursoReporteModel()
                {
                    Nombre = c.Nombre,
                    CantidadMaximaAlumnos = c.CantidadMaximaAlumnos,
                    NombreProfesor = $"{c.ProfesorPrincipal.Nombre} {c.ProfesorPrincipal.Apellido}",
                    Alumnos = c.AlumnosList
                }).ToList();
        }
    }

    private class CursoReporteModel
    {
        public string Nombre { get; set; } = string.Empty;
        public int CantidadMaximaAlumnos { get; set; } = 0;
        public string NombreProfesor { get; set; } = string.Empty;
        public List<Alumno>? Alumnos { get; set; }
    }
}
